* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-align: center;
}
nav {
	margin-top:70px;
}
a {
	padding:10px;
	text-decoration:none;
}

#page-header {
	background-color: #FCCE09;
	height:650px;
}